.header {
  background-color: #292e36;
}
.con-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.logo {
  width: 60px;
  height: 40px;
  fill: black;
}
.button {
  width: 295px;
  height: 73px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #e1b168;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  &:focus,
  &:hover {
    background-color: #e1b168;
    color: #292e36;
  }
}
.button__active {
  width: 295px;
  height: 73px;
  background-color: #e1b168;
  color: #292e36;
  border: 2px solid #e1b168;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  &:focus,
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}
.container-nav {
  display: flex;
  border-top: 1px solid #5c6168;
  padding: 26px 40px;
  justify-content: space-between;
}
.navigation-page {
  display: flex;
}
.search-in-page {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-right: 60px;
  &:hover,
  &:focus {
    color: #e1b168;
  }
}
.soc-list {
  display: flex;
  list-style: none;
}
.soc-item {
  margin-right: 20px;
}
.soc-icon {
  fill: #fff;
  width: 25px;
  height: 24px;
  &:hover,
  &:focus {
    fill: #e1b168;
  }
}
